In [80]:
import pandas as pd
df=pd.read_csv('aapl.csv',parse_dates=['Date']) #change the datetime formate
df

          Date    Open    High     Low   Close    Volume
0   2017-07-07  142.90  144.75  142.90  144.18  19201712
1   2017-07-06  143.02  143.50  142.41  142.73  24128782
2   2017-07-05  143.69  144.79  142.72  144.09  21569557
3   2017-07-03  144.88  145.30  143.10  143.50  14277848
4   2017-06-30  144.45  144.96  143.78  144.02  23024107
5   2017-06-29  144.71  145.13  142.28  143.68  31499368
6   2017-06-28  144.49  146.11  143.16  145.83  22082432
7   2017-06-27  145.01  146.16  143.62  143.73  24761891
8   2017-06-26  147.17  148.28  145.38  145.82  25692361
9   2017-06-23  145.13  147.16  145.11  146.28  35439389
10  2017-06-22  145.77  146.70  145.12  145.63  19106294
11  2017-06-21  145.52  146.07  144.61  145.87  21265751
12  2017-06-20  146.87  146.87  144.94  145.01  24900073
13  2017-06-19  143.66  146.74  143.66  146.34  32541404
14  2017-06-16  143.78  144.50  142.20  142.27  50361093
15  2017-06-15  143.32  144.48  142.21  144.29  32165373
16  2017-06-14  147.50  147.50  143.84  145.16  31531232
17  2017-06-13  147.16  147.45  145.15  146.59  34165445
18  2017-06-12  145.74  146.09  142.51  145.42  72307330
19  2017-06-09  155.19  155.19  146.02  148.98  64882657
20  2017-06-08  155.25  155.54  154.40  154.99  21250798
21  2017-06-07  155.02  155.98  154.48  155.37  21069647
22  2017-06-06  153.90  155.81  153.78  154.45  26624926
23  2017-06-05  154.34  154.45  153.46  153.93  25331662
24  2017-06-02  153.58  155.45  152.89  155.45  27770715
25  2017-06-01  153.17  153.33  152.22  153.18  16404088
26  2017-05-31  153.97  154.17  152.38  152.76  24451164
27  2017-05-30  153.42  154.43  153.33  153.67  20126851
28  2017-05-26  154.00  154.24  153.31  153.61  21927637
29  2017-05-25  153.73  154.35  153.03  153.87  19235598
..         ...     ...     ...     ...     ...       ...
221 2016-08-19  108.77  109.69  108.36  109.36  25368072
222 2016-08-18  109.23  109.60  109.02  109.08  21984703
223 2016-08-17  109.10  109.37  108.34  109.22  25355976
224 2016-08-16  109.63  110.23  109.21  109.38  33794448
225 2016-08-15  108.14  109.54  108.08  109.48  25868209
226 2016-08-12  107.78  108.44  107.78  108.18  18660434
227 2016-08-11  108.52  108.93  107.85  107.93  27484506
228 2016-08-10  108.71  108.90  107.76  108.00  24008505
229 2016-08-09  108.23  108.94  108.01  108.81  26315204
230 2016-08-08  107.52  108.37  107.16  108.37  28037220
231 2016-08-05  106.27  107.65  106.18  107.48  40553402
232 2016-08-04  105.58  106.00  105.28  105.87  27408650
233 2016-08-03  104.81  105.84  104.77  105.79  30202641
234 2016-08-02  106.05  106.07  104.00  104.48  33816556
235 2016-08-01  104.41  106.15  104.41  106.05  38167871
236 2016-07-29  104.19  104.55  103.68  104.21  27733688
237 2016-07-28  102.83  104.45  102.82  104.34  39869839
238 2016-07-27  104.26  104.35  102.75  102.95  92344820
239 2016-07-26   96.82   97.97   96.42   96.67  56239822
240 2016-07-25   98.25   98.84   96.92   97.34  40382921
241 2016-07-22   99.26   99.30   98.31   98.66  28313669
242 2016-07-21   99.83  101.00   99.13   99.43  32702028
243 2016-07-20  100.00  100.46   99.74   99.96  26275968
244 2016-07-19   99.56  100.00   99.34   99.87  23779924
245 2016-07-18   98.70  100.13   98.60   99.83  36493867
246 2016-07-15   98.92   99.30   98.50   98.78  30136990
247 2016-07-14   97.39   98.99   97.32   98.79  38918997
248 2016-07-13   97.41   97.67   96.84   96.87  25892171
249 2016-07-12   97.17   97.70   97.12   97.42  24167463
250 2016-07-11   96.75   97.65   96.73   96.98  23794945

[251 rows x 6 columns]

In [65]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [15]:
df.dtypes #check all the data type

Date       object
Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object

In [66]:
type(df.Date[0])

pandas._libs.tslibs.timestamps.Timestamp

In [67]:
df1=df.head(15)
df1

         Date    Open    High     Low   Close    Volume
0  2017-07-07  142.90  144.75  142.90  144.18  19201712
1  2017-07-06  143.02  143.50  142.41  142.73  24128782
2  2017-07-05  143.69  144.79  142.72  144.09  21569557
3  2017-07-03  144.88  145.30  143.10  143.50  14277848
4  2017-06-30  144.45  144.96  143.78  144.02  23024107
5  2017-06-29  144.71  145.13  142.28  143.68  31499368
6  2017-06-28  144.49  146.11  143.16  145.83  22082432
7  2017-06-27  145.01  146.16  143.62  143.73  24761891
8  2017-06-26  147.17  148.28  145.38  145.82  25692361
9  2017-06-23  145.13  147.16  145.11  146.28  35439389
10 2017-06-22  145.77  146.70  145.12  145.63  19106294
11 2017-06-21  145.52  146.07  144.61  145.87  21265751
12 2017-06-20  146.87  146.87  144.94  145.01  24900073
13 2017-06-19  143.66  146.74  143.66  146.34  32541404
14 2017-06-16  143.78  144.50  142.20  142.27  50361093

In [69]:
df.set_index('Date')

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-06-30  144.45  144.96  143.78  144.02  23024107
2017-06-29  144.71  145.13  142.28  143.68  31499368
2017-06-28  144.49  146.11  143.16  145.83  22082432
2017-06-27  145.01  146.16  143.62  143.73  24761891
2017-06-26  147.17  148.28  145.38  145.82  25692361
2017-06-23  145.13  147.16  145.11  146.28  35439389
2017-06-22  145.77  146.70  145.12  145.63  19106294
2017-06-21  145.52  146.07  144.61  145.87  21265751
2017-06-20  146.87  146.87  144.94  145.01  24900073
2017-06-19  143.66  146.74  143.66  146.34  32541404
2017-06-16  143.78  144.50  142.20  142.27  50361093
2017-06-15  143.32  144.48  142.21  144.29  32165373
2017-06-14  147.50  147.50  143.84  145.16  31531232
2017-06-13  147.16  147.45  145.15  146.59  34165445
2017-06-12  145.74  146.09  142.51  145.42  72307330
2017-06-09  155.19  155.19  146.02  148.98  64882657
2017-06-08  155.25  155.54  154.40  154.99  21250798
2017-06-07  155.02  155.98  154.48  155.37  21069647
2017-06-06  153.90  155.81  153.78  154.45  26624926
2017-06-05  154.34  154.45  153.46  153.93  25331662
2017-06-02  153.58  155.45  152.89  155.45  27770715
2017-06-01  153.17  153.33  152.22  153.18  16404088
2017-05-31  153.97  154.17  152.38  152.76  24451164
2017-05-30  153.42  154.43  153.33  153.67  20126851
2017-05-26  154.00  154.24  153.31  153.61  21927637
2017-05-25  153.73  154.35  153.03  153.87  19235598
...            ...     ...     ...     ...       ...
2016-08-19  108.77  109.69  108.36  109.36  25368072
2016-08-18  109.23  109.60  109.02  109.08  21984703
2016-08-17  109.10  109.37  108.34  109.22  25355976
2016-08-16  109.63  110.23  109.21  109.38  33794448
2016-08-15  108.14  109.54  108.08  109.48  25868209
2016-08-12  107.78  108.44  107.78  108.18  18660434
2016-08-11  108.52  108.93  107.85  107.93  27484506
2016-08-10  108.71  108.90  107.76  108.00  24008505
2016-08-09  108.23  108.94  108.01  108.81  26315204
2016-08-08  107.52  108.37  107.16  108.37  28037220
2016-08-05  106.27  107.65  106.18  107.48  40553402
2016-08-04  105.58  106.00  105.28  105.87  27408650
2016-08-03  104.81  105.84  104.77  105.79  30202641
2016-08-02  106.05  106.07  104.00  104.48  33816556
2016-08-01  104.41  106.15  104.41  106.05  38167871
2016-07-29  104.19  104.55  103.68  104.21  27733688
2016-07-28  102.83  104.45  102.82  104.34  39869839
2016-07-27  104.26  104.35  102.75  102.95  92344820
2016-07-26   96.82   97.97   96.42   96.67  56239822
2016-07-25   98.25   98.84   96.92   97.34  40382921
2016-07-22   99.26   99.30   98.31   98.66  28313669
2016-07-21   99.83  101.00   99.13   99.43  32702028
2016-07-20  100.00  100.46   99.74   99.96  26275968
2016-07-19   99.56  100.00   99.34   99.87  23779924
2016-07-18   98.70  100.13   98.60   99.83  36493867
2016-07-15   98.92   99.30   98.50   98.78  30136990
2016-07-14   97.39   98.99   97.32   98.79  38918997
2016-07-13   97.41   97.67   96.84   96.87  25892171
2016-07-12   97.17   97.70   97.12   97.42  24167463
2016-07-11   96.75   97.65   96.73   96.98  23794945

[251 rows x 5 columns]

In [29]:
df1.set_index(['Date']) #set date as a index colomns

              Open    High     Low   Close    Volume
Date
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-06-30  144.45  144.96  143.78  144.02  23024107
2017-06-29  144.71  145.13  142.28  143.68  31499368
2017-06-28  144.49  146.11  143.16  145.83  22082432
2017-06-27  145.01  146.16  143.62  143.73  24761891
2017-06-26  147.17  148.28  145.38  145.82  25692361
2017-06-23  145.13  147.16  145.11  146.28  35439389
2017-06-22  145.77  146.70  145.12  145.63  19106294
2017-06-21  145.52  146.07  144.61  145.87  21265751
2017-06-20  146.87  146.87  144.94  145.01  24900073
2017-06-19  143.66  146.74  143.66  146.34  32541404
2017-06-16  143.78  144.50  142.20  142.27  50361093

In [70]:
df.shape #check the overview of the dataframe

(251, 6)

In [71]:
df1.shape

(15, 6)

In [52]:
df1.index

RangeIndex(start=0, stop=15, step=1)

In [81]:
df1['2017-07-07']

KeyError: '2017-07-07'

In [77]:
df1.Close.resample('M').max()

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'